html {
  box-sizing: border-box;
  line-height: 1.5;
  font-family: Georgia, serif;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  background-color: #f5f2f0;
  padding: .75em;
  margin: 0;
}

h1 {
  font-family: "Denk One", sans-serif;
